<footer>
    <div class="container" style=" margin: 0 auto; width: 80%; padding: 60px 0px 50px 0px">
        <ul class="list-group">
            <li class="list-group-item active">Tasa Representativa del Mercado - Colombia</li>
            <li *ngFor="let trm of trmLista" class="list-group-item">
              {{trm.unidad}} - 
              <strong>Valor:</strong> {{trm.valor}}  
              <strong>Vigencia Desde:</strong> {{trm.vigenciadesde}} 
              <strong>Vigencia Hasta:</strong> {{trm.vigenciahasta}}
            </li>
        </ul>
    </div>
</footer>