.container-listado {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-family: OswaldExtraLight;
}

.title.center-text:after, .center-text .title:after {
    margin: 1rem auto;
}

.title:after {
    content: "";
    display: block;
    max-width: 3rem;
    height: 2px;
    background-color: #4ee44e;
    margin: 1rem auto 1rem 0;
}

.table {
    font-size: 1.2rem;
}

.button-contact {
    background-color: #fb000a;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}