<div class="row">
        <div class="contenedor-insertar"></div>
        <section class="main-contact center-text border-bottom">
            <div class="container">
                <h2 class="title center-text">Registrar Vehiculo</h2>
                <div class="container">
                    <div class="row" style="padding-top: 40px;">
                        <div class="col-sm">
                            <form>
                                <div class="row">
                                    <div class="col-sm">
                                        <input id="placa" type="text" [(ngModel)]="placaVehiculo" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Placa">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <select id="inputState" [(ngModel)]="tipoVehiculo" [ngModelOptions]="{standalone: true}" class="form-control">
                                            <option disabled selected>Tipo</option>
                                            <option>Carro</option>
                                            <option>Moto</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="cilindraje_input" [(ngModel)]="cilindrajeVehiculo" [ngModelOptions]="{standalone: true}" [attr.disabled]="tipoVehiculo=='Carro' ? '' : null" class="form-control" placeholder="Cilindraje">
                                    </div>
                                </div>
                            </form>
                            <button class="button-contact" (click)="ingresarVehiculo()">Ingresar Vehiculo</button>
                            <button class="button-contact" (click)="limpiarCampos()">Limpiar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>