.container{
    margin: 0 auto;
    text-align: center;
}

.contenedor-insertar{
    text-align: center;

}

.row {
    text-align: center;
}

.text-center {
    text-align: center!important;
    position: inherit;
}

.main-contact {
    padding-bottom: 3.75rem!important;
    padding-top: 50px;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

section {
    display: block;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: OswaldExtraLight;
}

.title.center-text:after, .center-text .title:after {
    margin: 1rem auto;
}

.title:after {
    content: "";
    display: block;
    max-width: 3rem;
    height: 2px;
    background-color: #4ee44e;
    margin: 1rem auto 1rem 0;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.center-text {
    text-align: center!important;
}


.button-contact {
    background-color: #32cd32;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

div {
    display: block;
}