<div class="container-registro">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Vehiculo</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Fecha de Salida</th>
                <th scope="col">Valor a Pagar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">CFK41E</th>
                <td>12/08/2016</td>
                <td>12/08/2016</td>
                <td>12.000</td>
            </tr>
            <tr>
                <th scope="row">CFK41E</th>
                <td>12/08/2016</td>
                <td>12/08/2016</td>
                <td>50.000</td>
            </tr>
        </tbody>
    </table>
</div>